
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="../assets/img/elements/2.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Subscripcion gold</h5>
                <ul>
                    <li>Ingreso al gimnasio.</li>
                    <li>Uso de lockers.</li>
                    <li>Asistencia por parte de los entrenadores generales.</li>
                    <li>Ingreso completamente digital.</li>
                    <li>Uso de nuestras plataformas digitales.</li>
                </ul>
                <button class="btn btn-secondary float-end">Plan actual</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="../assets/img/elements/13.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Subscripcion black</h5>
                <ul>
                    <li>Ingreso al gimnasio.</li>
                    <li>Uso de lockers.</li>
                    <li>Asistencia por parte de los entrenadores generales.</li>
                    <li>Ingreso completamente digital.</li>
                    <li>Uso de nuestras plataformas digitales.</li>
                    <li>Puedes llevar un amigo 4 veces al mes.</li>
                    <li>Uso de nuestas salas de spa.</li>
                    <li>Uso seguimiento controlado de pesos y mediciones.</li>
                </ul>
                <button class="btn btn-dark float-end">Mejorar tu plan</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="../assets/img/elements/4.jpg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Subscripcion platinum</h5>
                <ul>
                    <li>Ingreso al gimnasio.</li>
                    <li>Uso de lockers.</li>
                    <li>Asistencia por parte de los entrenadores generales.</li>
                    <li>Ingreso completamente digital.</li>
                    <li>Uso de nuestras plataformas digitales.</li>
                    <li>Puedes llevar un amigo 4 veces al mes.</li>
                    <li>Uso de nuestas salas de spa.</li>
                    <li>Uso seguimiento controlado de pesos y mediciones.</li>
                    <li>Nutricionista personalidado para tus objetivos.</li>
                    <li>Ayuda de personals trainings 2 veces al mes.</li>
                </ul>
                <button class="btn btn-dark float-end">Mejorar tu plan</button>
            </div>
        </div>
    </div>
</div>
